/* Chatbot container */
.chatbot-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  max-width: 300px;
  }
  
.message-bot{
  width: 100%;
  display: flex;
  justify-content: start;
}
.message-user{
  width: 100%;
  display: flex;
  justify-content: end;
}
  /* User message styling */
  .bot{
    display: block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    word-wrap: break-word;
    background-color: #F1F0F0;
  }
  .user{
    text-align: end;
    display: block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    word-wrap: break-word;
    background-color: #78ac51;
  }
  
  /* Chatbot Button */
  .chatbot-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .chatbot-text {
    font-size: 14px;
  }
  
  /* Chatbot Form */
  .chatbot-form {
    background-color: white;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  .chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    cursor: pointer;
    font-size: 18px;
  }
  
  .chatbot-messages {
    position: relative;
    display: block;
    flex-direction: column;
    height: 250px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f1f1f1;
  }
  
  .chatbot-input {
    display: flex;
    border-top: 1px solid #ddd;
  }
  
  #message-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  #send-message {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #send-message:hover {
    background-color: #0056b3;
  }
  