<!--================login_part Area =================-->
<style>
    .hidden{
        display: none;
    }
</style>
<section class="login_part mt-5 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                       
                        <p>A six digit OTP will send to your verified email address. Please submit it in 90 seconds</p>
                        <a href="/auth/login" class="btn_3">Back to Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        
                        <form class="row contact_form"  onsubmit="handleSendOTP(event)">
                            <%- include('../../partials/message/messages.ejs') %>  
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" value=""
                                    placeholder="Email">
                            </div>
                            <div id="otpinput" class="col-md-12 form-group p_star hidden">
                                <input type="number" class="form-control" id="otp" name="otp" value=""
                                    placeholder="Enter six digit OTP">
                            </div>
                            <div id="otp_button" class="col-md-12 form-group hidden">
                                
                                <button id="otpbtn" onclick="handleVerifyOTP(event)" value="submit" class="btn_3" >
                                    Send OTP 
                                </button>
                                
                            </div>
                            <div id="emailbutton" class="col-md-12 form-group">
                                
                                <button id="emailbtn" type="submit" value="submit" class="btn_3">
                                    Send Email
                                </button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/costom/javascript/forgotpassword.js"></script>

