<!--================login_part Area =================-->
<section class="login_part mt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
          <div class="login_part_text_iner">
            <h2>Welcome to Our Watches Portal</h2>
            <p>
              Discover a world of timekeeping excellence with our watches. Dive into exclusive collections, track orders, and enjoy personalized recommendations tailored just for you. Join us in celebrating timeless craftsmanship and innovation.
            </p>
            <a href="/auth/signup" class="btn_3">Create an Account</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>
              Welcome Back ! <br />
              Please Sign in now
            </h3>
            <form class="row contact_form" onsubmit="handleLogin(event)">
              <%- include('../../partials/message/messages.ejs') %>
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  value=""
                  placeholder="Email"
                  oninput="inputEmailChange(event)"
                />
                <span class="txt-sm text-danger" id="email_span"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value=""
                  placeholder="Password"
                  oninput="inputPasswordChange(event)"
                />
                <span class="txt-sm text-danger" id="password_span"></span>
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" value="submit" id="loginbtn" class="btn_3">
                  log in
                </button>
                <a class="lost_pass" href="/auth/forgot-password"
                  >forget password?</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/costom/javascript/userlogin.js"></script>
