<style>
    .order_confirm{
        display: grid;
        place-items: center;
        margin-top: 150px;
    }
    .order-parent{
        height: 50vh !important;
    }
</style>
<!-- slider Area Start-->
<section>
    <div class="order-parent">
    <!-- Mobile Menu -->
    <div class="order_confirm">
        <h1>Order Confirmation</h1>
        <p>Your order has been placed</p>
        <a href="/user/profile/orders/<%= order._id%>" class="black-btn">View Order</a>
    </div>
</div>
</section>

<!-- slider Area End-->

<!--================ confirmation part start =================-->

