<main>
  <section class="login_part section_padding ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Already have an account</h2>
                        <p>Please login!</p>
                        <a href="/auth/login" class="btn_3">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <form class="row contact_form" onsubmit="handleSubmit(event)">
                          <div id="errordiv"></div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="username" name="username" value=""
                                    placeholder="Username">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                              <input type="tel" class="form-control" id="mobile" name="mobile" value=""
                                  placeholder="Mobile">
                          </div> <div class="col-md-12 form-group p_star">
                            <input type="password" class="form-control" id="password" name="password" value=""
                                placeholder="Password">
                        </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Sign up
                                </button>
                                <a class="lost_pass" href="#">forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

  const errordiv = document.getElementById('errordiv');
  function clear (element) {
      setTimeout(() => {
          errordiv.textContent = ""
      }, 4000);
  }
  function handleSubmit(e) {
      e.preventDefault()

  const username = document.getElementById('username').value
  const email = document.getElementById('email').value
  const password = document.getElementById('password').value
  const mobile = document.getElementById('mobile').value

      if(!username) {
          errordiv.textContent = "Username is required"
          clear(errordiv)
          return
      }else if(!email) {
          errordiv.textContent = "Email is required"
          clear(errordiv)
          return
      }else if(!mobile) {
          errordiv.textContent = "Mobile number is required is required"
          clear(errordiv)
          return
      }else if(!password) {
          errordiv.textContent = "Password is required is required"
          clear(errordiv)
          return
      }else {
          console.log(email,username,password, mobile)
          const xhttp = new XMLHttpRequest()
          xhttp.onload = function() {
          let response = JSON.parse(xhttp.response)
          if(response.error) {
              errordiv.textContent = response.error
              clearError(errorDiv)
              return
          }
          window.location.href =  "/auth/verify/email"

          
      }
        xhttp.open('POST', `http://localhost:5000/auth/verify-email` ,true)
          xhttp.setRequestHeader('Content-Type','application/json')
          xhttp.send(JSON.stringify({email,username,mobile,password}))
      }

  }
  clear()
</script>
