<!--================login_part Area =================-->
<section class="login_part mt-5 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <a href="/auth/login" class="btn_3">Back to login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <form class="row contact_form" accept="/auth/reset-password" method="post" >
                            <%- include('../../partials/message/messages.ejs') %>  
                            
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" value=""
                                    placeholder="Confirm Password">
                            </div>
                            <div class="col-md-12 form-group" id="buttondiv">
                                
                                <button id="btn" type="submit" value="submit" class="btn_3">
                                    Reset Password
                                </button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

//     function handleResetPassword() {
//         event.preventDefault()
//     const password = document.getElementById('password').value
//     const confirm_password = document.getElementById('confirm_password').value
//     const buttondiv = document.getElementById('buttondiv')
//     const btn = document.getElementById('btn')

//     if(!password.trim() || !confirm_password.trim()) {
//         return showMessage("Required Password and Confirm password", "red", buttondiv, btn)
//     } 
//     if(password !== confirm_password) {
//         return showMessage("Password do not match", "red", buttondiv, btn)
//     }
//     fetch(`http://localhost:5000/auth/reset-password`, {
//       method: "POST",
//       headers: {'Content-Type': 'application/json'},
//       body: JSON.stringify({password, confirm_password})
//     })
//       .then((response) => response.json())
//       .then((data) => {
//         if (data.message) {
//           alert(data.message);
//         } else {

//         }
//       })
//       .catch((err) => {
//         alert(err);
//       });

//     }


//     function showMessage(message, color, maindiv, insetBeforeelem) {
//     const div = document.createElement("div");
//     div.style.color = color;
//     div.textContent = message;
//     maindiv.insertBefore(div, insetBeforeelem);
//     removeMessage(div);
//   }
  
//   function removeMessage(div) {
//     setTimeout(() => {
//         div.remove()
//     }, 3000);
//   }
</script>
