
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            
                            <p>An OTP has been send to you email address.<br>
                                 Please check your email</p>
                            <a href="/auth/signup" class="btn_3">Back to signup page</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            
                            <form class="row contact_form" onsubmit="handleVerifyEmail(event)">
                                <div id="errordiv" class="text-danger text-center"></div>
                                <div id="successdiv" class="text-success text-center"></div>
                                
                                
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="otpvalue" name="otpvalue" value=""
                                        placeholder="Enter OTP">
                                </div>
                                <div class="col-md-12 form-group">
                                    <span id="verifyotpspan"></span>
                                    <button type="submit" value="submit" class="btn_3">
                                        Verify OTP
                                    </button>
                                    <button onclick="handleResendOTP(event)" class="btn_3">
                                        Resend OTP
                                    </button>
                                    <a class="lost_pass" href="#">forget password?</a>
                                </div>
                            </form>
                            <div id="countdown" class="text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
</main>

<script src="/costom/javascript/verifyemail.js"></script>

