




<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
      <%- include('../../partials/admin/adminHeader.ejs') %>
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
<div class="add-product-main-div">
  <div class="container ">
    <h4 class="text-center">/ Admin/ Coupon/ Add Coupon
  </div>
  <div class="container">
    <a href="/admin/coupons/" class="btn btn-primary" style="margin-bottom: 10px;">Back</a>
  </div>
  
  <div class="container main-form-div">
    
    <form action="" class="add-product-form" onsubmit="handleSubmit(this)">
      <div class="row">
        <div class="col-md-6 col-sm-12">
            
          <label for="">Coupon code <span style="color: red; font-size: larger;">*</span></label>
          <input type="text" name="coupon_code"  id="coupon_code" />
          <label for="">Discount Type</label>
            <Select name="discount_type" id="discount_type" onchange="handleDiscountTypeChange(event)">
                <option value="">Select</option>
                <option value="free_shipping">Free Shipping</option>
                <option value="percentage">Percentage</option>
                <option value="fixed_amount">
                  Fixed Amount
                </option>
                
              </Select>
            <div id="discount-value-div">
                <label for="" id="discount_value_label">Discount Value <span style="color: red; font-size: larger;">*</span></label>
          <input type="number" name="discount_value" id="discount_value" onkeydown="discountValueChange(event)"/>
            </div>
          
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="">Minimum Purchase Value <span style="color: red; font-size: larger;">*</span></label>
            <input type="number" name="minimum_purchase_value" id="minimum_purchase_value" placeholder="Enter 0 if you selected free shiiping"/>
          <label for="">Maximum Purchase Value </label>
          <input type="number" name="maximum_purchase_value" id="maximum_purchase_value" />
          <label for="">Usage Count</label>
          <input type="number" name="usage_count" id="usage_count" />
          
        </div>
        <div class="col-md-12">
            <label for="">Active or not</label>
          <select name="isActive" id="">
            <option value="">Select</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="">Description</label>
          <textarea name="description" id="description" rows="4"></textarea>
        </div>
      </div>
      
      <div class="button-div">
        <button type="submit" class="btn btn-primary">Add Coupon</button>
      </div>
      
    </form>
  </div>
</div>
        </div>
      </main>
      </div>
    </div>
  </body>
</html>
<script>
    
    function handleSubmit (formElement) {
        event.preventDefault()
             const formData = new FormData(formElement)
             const discount_value = parseInt(formData.get('discount_value'))
             const obj = {}
             for(const [name,value] of formData.entries()) {
              obj[name] = value
             }
            console.log(obj)
  if (!formData.get('coupon_code')) {
    return showMessage("coupon code is required");
  }
  if (!formData.get('description')) {
    return showMessage("Description is required");
  }
  
  if(formData.get('discount_type') === "percentage") {
    if(!formData.get('discount_value')) {
      return showMessage("Discount value is required")
    }
    if(discount_value > 70) {
      return showMessage("Discount percentage not greater than 70 %")
    }
  }
  if (!formData.get('minimum_purchase_value')) {
    return showMessage("Minimum Purchase Value is required");
  }
  
  

  
        const xhttp = new XMLHttpRequest()
        xhttp.onload = function () {
        const response = JSON.parse(xhttp.response)
        console.log(response)
        if(response) {
              const successdiv = document.createElement('div')
              successdiv.classList.add('successDiv')
              successdiv.classList.add('message')

              successdiv.textContent = "Coupon added successfully"
              const form = document.querySelector('.add-product-form')
              form.insertBefore(successdiv, form.firstChild)
              setTimeout(() => {
                window.location.reload()
              }, 2000);
            }
            
        }
        xhttp.open('POST', 'http://localhost:5000/admin/coupons/add-coupon', true)
        xhttp.setRequestHeader("Content-Type", "application/json")
        xhttp.send(JSON.stringify(obj))
    }

    function showMessage(message) {
        const errorDiv = document.createElement('div')
        errorDiv.classList.add('errorDiv')
        errorDiv.classList.add('message')

        errorDiv.textContent = message
        const form = document.querySelector('.main-form-div')
        form.insertBefore(errorDiv, form.firstChild)
        setTimeout(() => {
            errorDiv.remove()
        }, 4000);
        
    }

    function handleDiscountTypeChange(event) {
        const input = document.getElementById('discount_value')
        const label = document.getElementById('discount_value_label')
        if(event.target.value === "free_shipping") {
            label.textContent = "Discount value is disabled when you choosen Free shipping"
            input.disabled = true
            input.style.backgroundColor = "#a9a9a9"
            input.style.color = "#888"
            input.style.cursor = not-allowed;
            
        }else if(event.target.value === "percentage") {
            document.getElementById('discount_value').disabled = false
            label.textContent = "Discount in Percentage"
            input.style.backgroundColor = "#fff"
            input.style.color = "rgb(82, 77, 77)"
            
            
        }else if(event.target.value === "fixed_amount"){
          label.textContent = "Discount Value"
          input.disabled = false
          input.style.backgroundColor = "#fff"
          input.style.color = "rgb(82, 77, 77)"
        }
    }

    function discountValueChange(event) {
      const type = document.getElementById('discount_type').value
      console.log(type)
      const discount_value = document.getElementById("discount_value")
      if(type === "percentage") {
      const value = event.target.value
      const val = parseInt(value)
      if(val > 70) {
        return showMessage("Discount percentage not greater than 70 %")
      }
      }
      
    }

</script>