<style>
    .page-not-found-parent-div div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20% 0;
    }
    .page-not-found-main-div{
        height: 100vh;
    }
    .page-not-found-parent-div h1{
        font-weight: bold;
    }
    
</style>
<div class="page-not-found-main-div">
    <div class="page-not-found-parent-div">
        <div>
        <h1>404</h1>
        <h1>Oops!</h1>
        <h5>Requested page not found</h5>
        <a href="/" class="btn btn-info">Back to home page</a>
    </div>
    </div>
    
</div>